{% extends 'base.html.twig'%}
{% block title %}
    
{% endblock %}
{% block body %}
<div class="container">
	
	<h1>Alors vous essayer de bousiller le site</h1>
	<div class="alert alert-danger">
	<p>Vous n'avez pas le droit d'acceder à ce site</p>
	</div>
	<a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'acceuil</a>
	
    
{% endblock %}